*{
  box-sizing:border-box;;
}
.header_bg{
    background-image:url('img/0.jpg');
    background-color:#fff;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    height: 800px;
  }
  body {
    margin:0;
    min-height:100% ;
    background-color:#fff;
    font-family:Montserrat, sans-serif;
    color:#1a1b1f;
    font-size:16px;
    line-height:28px;
    font-weight:400;
    display:block;
}
/*------------- [On scroll Fixed Header]-------------------*/
.navigation{
  padding: 10px 16px;
  color: #f1f1f1;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .body_content {
  padding-top: 102px;
}
